In [2]:
from cProfile import label
from statistics import mode
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, LSTM, GRU, SimpleRNN, Dropout, Flatten

c:\Users\bensa\AppData\Local\Programs\Python\Python310\lib\site-packages\requests\__init__.py:109: RequestsDependencyWarning: urllib3 (1.26.9) or chardet (5.0.0)/charset_normalizer (2.0.12) doesn't match a supported version!
  warnings.warn(

In [3]:
from dataprep import *

In [4]:
path_for_data = 'C:\\Users\\bensa\\Documents\\MRPLocal\\Data'
cgm_data = 'CGM_Processed.csv'
file_cgm = os.path.join(path_for_data, cgm_data)

data_obj = DataCleaning(filename=file_cgm, path=path_for_data)
## load dataframe from cleaned data


CGMDf = pd.read_csv(file_cgm)
CGMDf.head()

,Unnamed: 0.1,index,Unnamed: 0,RecID,PtID,ParentCITYDeviceUploadsID,DeviceDtTm,RecordType,Value,Units,SortOrd,ValueMMOL,DDate,hourOfDay,series,series_id
0,0,0,0,1539485,39,651,2000-04-21 04:31:56,CGM,135.0,mg/dL,7880.0,7.5,2000-04-21,4,False,73331
1,1,1,1,1539486,39,651,2000-04-21 04:36:55,CGM,133.0,mg/dL,7881.0,7.4,2000-04-21,4,False,73331
2,2,2,2,1539487,39,651,2000-04-21 04:41:55,CGM,133.0,mg/dL,7882.0,7.4,2000-04-21,4,False,73331
3,3,3,3,1539488,39,651,2000-04-21 04:46:56,CGM,133.0,mg/dL,7883.0,7.4,2000-04-21,4,False,73331
4,4,4,4,1539489,39,651,2000-04-21 04:51:56,CGM,134.0,mg/dL,7884.0,7.4,2000-04-21,4,False,73331

In [7]:
CGMDf[CGMDf.PtID==39].shape[0]

58207

In [8]:
filename=file_cgm
samplingDF = pd.read_csv(filename)
## Section to clean the data first
## drop unnecessary columns to save on space / compute
samplingDF.drop(['Unnamed: 0.1','index','Unnamed: 0','RecordType','Value'], inplace=True, axis=1)

## cleaning up the data -- Resetting data types
samplingDF['DDate']=pd.to_datetime(samplingDF['DDate'])
samplingDF['DeviceDtTm']=pd.to_datetime(samplingDF['DeviceDtTm'])
samplingDF.SortOrd=samplingDF.SortOrd.astype(int)

In [13]:
type(samplingDF)
a=pd.DataFrame((samplingDF).groupby(['PtID','series_id'])['RecID'].count())
a.reset_index(inplace=True)
samplingDF = samplingDF[~samplingDF.series_id.isin(a.series_id[a.RecID<=25].to_list())] ## Remove series where there will be no ability to forecast more than 5 datapoints

In [19]:

new_df = samplingDF.groupby('series_id').count()
ct_df = samplingDF.groupby('PtID').count()
num_clients = 5
client_list = ct_df.index.to_numpy()
cl_ind = client_list[random.sample(range(0,len(client_list)),num_clients)]
cl_ind ##clientids to use for the training

cl_df = samplingDF[samplingDF.PtID.isin(cl_ind)]

#train on all data, then forecast a series, see what happens vs, train specificfor a client and then forecast that client
#shuffle full data set, then pull in training and test to see how it goes

#train on one client at time, run this multiple times if you want to get more specific

,RecID,PtID,ParentCITYDeviceUploadsID,DeviceDtTm,Units,SortOrd,ValueMMOL,DDate,hourOfDay,series,series_id
108892,1684913,149,671,2000-05-30 00:06:37,mg/dL,2037,12.3,2000-05-30,0,True,76564
108893,1684914,149,671,2000-05-30 00:11:31,mg/dL,2038,12.1,2000-05-30,0,False,76564
108894,1684915,149,671,2000-05-30 00:16:32,mg/dL,2039,11.8,2000-05-30,0,False,76564
108895,1684916,149,671,2000-05-30 00:21:31,mg/dL,2040,11.5,2000-05-30,0,False,76564
108896,1684917,149,671,2000-05-30 00:26:32,mg/dL,2041,11.2,2000-05-30,0,False,76564
...,...,...,...,...,...,...,...,...,...,...,...
2007524,4258293,55,1061,2000-09-22 18:44:07,mg/dL,3516,10.8,2000-09-22,18,False,107802
2007525,4258294,55,1061,2000-09-22 18:49:07,mg/dL,3517,10.4,2000-09-22,18,False,107802
2007526,4258295,55,1061,2000-09-22 18:54:07,mg/dL,3518,10.6,2000-09-22,18,False,107802
2007527,4258296,55,1061,2000-09-22 18:59:07,mg/dL,3519,10.2,2000-09-22,18,False,107802
2007528,4258297,55,1061,2000-09-22 19:04:08,mg/dL,3520,9.7,2000-09-22,19,False,107802

In [15]:
ct_df

,RecID,ParentCITYDeviceUploadsID,DeviceDtTm,Units,SortOrd,ValueMMOL,DDate,hourOfDay,series,series_id
PtID,,,,,,,,,,
1,21277,21277,21277,21277,21277,21277,21277,21277,21277,21277
2,3898,3898,3898,3898,3898,3898,3898,3898,3898,3898
4,50122,50122,50122,50122,50122,50122,50122,50122,50122,50122
5,28722,28722,28722,28722,28722,28722,28722,28722,28722,28722
6,4500,4500,4500,4500,4500,4500,4500,4500,4500,4500
...,...,...,...,...,...,...,...,...,...,...
180,4684,4684,4684,4684,4684,4684,4684,4684,4684,4684
181,3181,3181,3181,3181,3181,3181,3181,3181,3181,3181
182,36165,36165,36165,36165,36165,36165,36165,36165,36165,36165
183,1458,1458,1458,1458,1458,1458,1458,1458,1458,1458
184,2810,2810,2810,2810,2810,2810,2810,2810,2810,2810

Experiment Plans

Build out models to compare performance on
Look at hyperparameter tuning
ONce models are adequately baked, then move to A and B below

A Experiment on using different patients inputs and keeping track of metrics
B Experiment on using feature engineering and build out metrics further


Implement Data cleaning from development to the data helper functions
Add in ability to look at a per patient basis
Perhaps start with overall data size, and then with a % set to train v test

In [ ]:
def train_test (df):
    



    return (X_train, X_test, y_train, y_test)

In [ ]:

def root_mean_error(y_true, y_pred):
    return tf.sqrt(tf.reduce_mean(tf.math.squared_difference(y_true, y_pred)))


class RunModel:

    def __init__(self,X_train, X_test, y_train, y_test):
        #self.X_train = (tf.convert_to_tensor(X_train) - tf.math.reduce_min(tf.convert_to_tensor(X_train))) / (tf.math.reduce_max(tf.convert_to_tensor(X_train)) - tf.math.reduce_min(tf.convert_to_tensor(X_train)))
        #self.y_train = (tf.convert_to_tensor(y_train) - tf.math.reduce_min(tf.convert_to_tensor(y_train))) / (tf.math.reduce_max(tf.convert_to_tensor(y_train)) - tf.math.reduce_min(tf.convert_to_tensor(y_train)))
        #self.X_test = (tf.convert_to_tensor(X_test) - tf.math.reduce_min(tf.convert_to_tensor(X_test))) / (tf.math.reduce_max(tf.convert_to_tensor(X_test)) - tf.math.reduce_min(tf.convert_to_tensor(X_test)))
        #self.y_test = (tf.convert_to_tensor(y_test) - tf.math.reduce_min(tf.convert_to_tensor(y_test))) / (tf.math.reduce_max(tf.convert_to_tensor(y_test)) - tf.math.reduce_min(tf.convert_to_tensor(y_test)))
        self.X_train = np.array(X_train)
        self.y_train = np.array(y_train)
        self.X_test = np.array(X_test)
        self.y_test = np.array(y_test)
        self.metric_df = pd.DataFrame()

    def rnn_model(self):
        model_rnn = Sequential()
        model_rnn.add(SimpleRNN(50, activation='relu', input_shape=(8,1)))
        model_rnn.add(Dense(10))
        model_rnn.add(Dense(1))
        print('\nRunning RNN model...')
        model_rnn.compile(optimizer='adam', loss='mse', metrics=[tf.keras.metrics.RootMeanSquaredError()])
        hist = model_rnn.fit(self.X_train, self.y_train, epochs=7, validation_split=0.2, batch_size=100)
        
        train_loss, train_rmse = model_rnn.evaluate(self.X_train, self.y_train)
        print(f'RNN Model: \nTraining set has a loss (MSE) of {train_loss} with RMSE metric of {train_rmse}')

        test_loss, test_rmse = model_rnn.evaluate(self.X_test, self.y_test)
        print(f'Test set has a loss (MSE) of {test_loss} with RMSE metric of {test_rmse}\n')
        y_pred = model_rnn.predict(self.X_test)
        plt.plot(range(len(y_pred)),y_pred, label='Prediction')
        plt.plot(self.y_test, label='Actual')
        plt.xlabel('Time Series')
        plt.ylabel('Readings')
        plt.title('Simple RNN MODEL')
        plt.legend()
        plt.savefig('Model Fig - SimpleRNN.png')
        plt.clf()
        model_rnn.summary()
        self.metric_df['RNN RMSE'] = hist.history['val_root_mean_squared_error']



    def lstm_model(self):
        model_lstm = Sequential()
        model_lstm.add(LSTM(128, activation='relu', input_shape=(8, 1),return_sequences=True))
        model_lstm.add(Dropout(0.3))
        model_lstm.add(LSTM(64, activation='relu'))
        model_lstm.add(Dropout(0.3))
        model_lstm.add(Dense(20, activation='relu'))
        model_lstm.add(Dense(10, activation='relu'))
        model_lstm.add(Dense(1))
        print('\nRunning the LSTM model...')
        model_lstm.compile(optimizer='adam', loss='mse', metrics=[tf.keras.metrics.RootMeanSquaredError()])
        hist = model_lstm.fit(self.X_train, self.y_train, epochs=7, validation_split=0.2, batch_size=100)
        
        train_loss, train_rmse = model_lstm.evaluate(self.X_train, self.y_train)
        print(f'LSTM Model: \nTraining set has a loss (MSE) of {train_loss} with RMSE metric of {train_rmse}')

        test_loss, test_rmse = model_lstm.evaluate(self.X_test, self.y_test)
        print(f'Test set has a loss (MSE) of {test_loss} with RMSE metric of {test_rmse}\n')
        y_pred = model_lstm.predict(self.X_test)
        plt.plot(range(len(y_pred)),y_pred, label='Prediction')
        plt.plot(self.y_test, label='Actual')
        plt.xlabel('Time Series')
        plt.ylabel('Readings')
        plt.title('LSTM MODEL')
        plt.legend()
        plt.savefig('Model Fig - LSTM.png')
        plt.clf()
        model_lstm.summary()
        self.metric_df['LSTM RMSE'] = hist.history['val_root_mean_squared_error']


    def gru_model(self):
        model_gru = Sequential()
        model_gru.add(GRU(50, activation='relu', input_shape=(8,1)))
        model_gru.add(Dense(1))
        print('\nRunning GRU model...')
        model_gru.compile(optimizer='adam', loss='mse', metrics=[tf.keras.metrics.RootMeanSquaredError()])
        hist = model_gru.fit(self.X_train, self.y_train, epochs=7, validation_split=0.2, batch_size=100)
        
        train_loss, train_rmse = model_gru.evaluate(self.X_train, self.y_train)
        print(f'GRU Model: \nTraining set has a loss (MSE) of {train_loss} with RMSE metric of {train_rmse}')

        test_loss, test_rmse = model_gru.evaluate(self.X_test, self.y_test)
        print(f'Test set has a loss (MSE) of {test_loss} with RMSE metric of {test_rmse}\n')
        y_pred = model_gru.predict(self.X_test)
        plt.plot(range(len(y_pred)),y_pred, label='Prediction')
        plt.plot(self.y_test, label='Actual')
        plt.xlabel('Time Series')
        plt.ylabel('Readings')
        plt.title('GRU MODEL')
        plt.legend()
        plt.savefig('Model Fig - GRU.png')
        plt.clf()
        model_gru.summary()
        self.metric_df['GRU RMSE'] = hist.history['val_root_mean_squared_error']


    def cnn_lstm_model(self):
        model_cnn_lstm = Sequential()
        model_cnn_lstm.add(tf.keras.layers.Conv1D(32, 2, activation='relu', input_shape=(8,1)))
        model_cnn_lstm.add(tf.keras.layers.MaxPooling1D((1)))
        model_cnn_lstm.add(LSTM(10, activation='relu', return_sequences=True))
        model_cnn_lstm.add(Flatten())
        model_cnn_lstm.add(Dense(1))
        print('\nRunning the CNN+LSTM model...')
        model_cnn_lstm.compile(optimizer='adam', loss='mse', metrics=[tf.keras.metrics.RootMeanSquaredError()])
        hist = model_cnn_lstm.fit(self.X_train, self.y_train, epochs=7, validation_split=0.2, batch_size=100)
        
        train_loss, train_rmse = model_cnn_lstm.evaluate(self.X_train, self.y_train)
        print(f'CNN+LSTM Model: \nTraining set has a loss (MSE) of {train_loss} with RMSE metric of {train_rmse}')

        test_loss, test_rmse = model_cnn_lstm.evaluate(self.X_test, self.y_test)
        print(f'Test set has a loss (MSE) of {test_loss} with RMSE metric of {test_rmse}\n')
        y_pred = model_cnn_lstm.predict(self.X_test)
        print(y_pred.shape)
        plt.plot(range(len(y_pred)),y_pred, label='Prediction')
        plt.plot(self.y_test, label='Actual')
        plt.xlabel('Time Series')
        plt.ylabel('Readings')
        plt.title('CNN+LSTM MODEL')
        plt.legend()
        plt.savefig('Model Fig - CNN+LSTM.png')
        plt.clf()
        model_cnn_lstm.summary()
        self.metric_df['CNN+LSTM RMSE'] = hist.history['val_root_mean_squared_error']


    def main(self):
        self.rnn_model()
        self.lstm_model()
        self.gru_model()
        self.cnn_lstm_model()
        self.metric_df.plot(xlabel='Epochs', ylabel='RMSE', legend=True)
        plt.show()